body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  margin: 0 0;
}

.body-medium {
  font-weight: 500;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
  text-align: center;
  color: white;
}

.hero {
  background-color: #2e2f42;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 2%;
  font-family: "Roboto", sans-serif;
  line-height: 40px;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
  line-height: 24px;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  background-color: #4d5ae5;
  color: white;
  font-family: "Roboto", sans-serif;
}

button:hover {
  background-color: #404bbf;
}

header li a:hover {
  color: #404bbf;
}

a {
  text-decoration: underline;
  color: #434455;
  font-style: normal;
}

span {
  color: #2e2f42;
  font-weight: 700;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}

.logo {
  text-decoration-color: #4d5ae5;
  font-weight: 700;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  color: #4d5ae5;
}

footer {
  background-color: #2e2f42;
  color: white;
}

footer .logo span {
  color: white;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team li {
  background-color: white;
}

.our-team img {
  border-style: groove;
  border-width: 1px;
  border-color: #2e2f42;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
